.titulo-carrinho{
    color: white;
    text-align: start;
    font-size: 28px;
}

.ion-list2{
    background-color:white;
}

.ion-content2{
    --background: white;
}

.toolbar-carrinho{
    --background: #FF0054;
}

.botaoMenu{
    color: white;
}

.carrinho-card{
  background-color: white;
}

.carrinho-icon{
    font-size: 30px;
    color: white;
    padding-right: 0px;
    padding-top: 3px;
}

.botao-carrinho{
    margin-top: 12px;
    padding-top: 0px;
    font-size: 16px;
 --background: #FF0054;

}

.icon-add{
    color: #2B2D42;
    font-weight: 700;
}

.carrinho-length{
    margin-right: 10px;
    margin-left: 8px;
    padding-top: 3px;
    color: white;
}

.escrita-preco-carrinho{
    color:#60D394;
}
.button-carrinho{
    margin-top: 10px;
    font-size: 13px;
 --background: #EF233C;
}

